    .text{
        flex: 1;
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(192, 192, 192);
        border-radius: 2px;
        width: 0;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
    }
    .text::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;
    }
    .header {
        background-color: white;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(228, 224, 224);
        z-index: 100;
        cursor: pointer;

    }
    .left-section {
        
        display: flex;
        align-items: center;
    }
    .middle-section {
        
        flex: 1;
        margin-left: 70px;
        margin-right: 35px;
        max-width: 500px;
        display: flex;
        align-items: center;
    }
    
    .hamburger-menu {
        height: 24px;
        margin-left: 24px;
        margin-right: 20px;

    }
    .youtube-logo {
        height: 20px;
    }
    .search-button {
        height: 40px;
        width: 60px;
        border: 1px solid rgb(192, 192, 192);
        background-color: rgb(240, 240, 240);
        margin-left: -1px;
        margin-right: 10px;
        
    }
    .voice-button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        background-color: rgb(245, 245, 245);
    }
    .search-icon {
        height: 25px;
        margin-top: 4px;
    }
    .voice-icon {
        width: 24px;
        margin-top: 3px;
    }
    .right-section {
        margin-right: 20px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        
        
    }
    
    .upload-icon {
        height: 24px;
    }
    .app-icon{
        height: 24px;
    }
    .notifics-icon{
        height: 24px;
    }
    .numb{
        position: relative;
    }
    .numb .num{
        font-size: 10px;
        position: absolute;
        top: -1px;
        right: -1px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 10px;
        background-color: red;
        font-family: roboto, Arial;
        color: white;
        font-weight: bold;
    }

    .channel-icon{
        height: 24px;
        border-radius: 12px;
        border-width: 1px;
    }